@import "../../resources/styles/colors.scss";

.nosotros_container {
  h3 {
    position: relative;
    display: inline-block;
    margin-bottom: 20px; // Opcional para dar espacio entre el h3 y el contenido

    &::after {
      content: "";
      position: absolute;
      bottom: -7px; // Ajusta según la distancia que quieras entre el h3 y la línea
      left: 0;
      width: 0;
      height: 4px;
      background-color: $primary; // Línea verde
      animation: lineAnimation 2s ease-out forwards;
    }
  }
}

@keyframes lineAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
