.fondo-distribuidores .productos-titulo {
  margin-top: 85px;
  padding: 20px 0px;
}

.fondo-distribuidores {
  background-color: white;
}

.fondo-productos {
  background-color: white;
  margin-top: 85px;
}

.wrap {
  padding-bottom: 80px;
  max-width: 1400px;
  width: 100%;
  margin: auto;
  background-color: white;
  justify-content: space-evenly;
}

.wrap h1 {
  float: none;
}

.wrap > h1 {
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px 0px;
}

.wrap > h1:after {
  content: "";
  width: 100%;
  height: 1px;
  background: white;
  margin: 20px 0;
}

.store-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.category_list {
  margin-top: 103px;
  display: flex;
  flex-direction: column;
  width: 19%;
  text-align: center;
  margin-left: 4%;
  button:hover {
    cursor: pointer;
  }
}

.category_list p {
  max-width: none;
  margin-left: 20px;
  display: flex;
  font-family: calibri;
}

.category_list .category_item {
  display: block;
  width: 100%;
  padding: 5px 0;
  margin-bottom: 10px;
  margin-top: 10px;
  background: #008556;
  text-align: center;
  text-decoration: none;
  color: white;
}

.category_item {
  font-family: calibri;
  font-style: normal;
  font-size: 18px;
  border-radius: 30px;
  border: #008556;
  border-style: solid;
  transition: 0.3s;
}

.category_list .ct_item-active {
  background: white;
  color: #008556;
  border: #008556;
  border-style: solid;
}

.category_item:hover {
  background: white;
  color: #008556;
}

.distribuidores-list {
  margin-top: 130px;
  width: 77%;
  display: flex;
  flex-wrap: wrap;
  transition: 0.3s;
}

.distribuidores-list .distribuidores-item {
  width: 80%;
  margin-left: 7%;
  margin: auto;
  background-color: white;
  margin-bottom: 60px;
  top: 50px;
  border-radius: 20px;
  border-color: #008556;
  border-style: solid;
  transition: all 0.4s;
  font-family: calibri;
  display: flex;
}

.distribuidores-list .distribuidores-item a {
  color: black;
  font-family: calibri;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s;
  margin-left: 3px;
}

.distribuidores-list .distribuidores-item p {
  text-decoration: none;
  color: black;
  width: 100%;
  font-size: 18px;
  font-family: calibri;
}

.informacionDis h1 {
  font-size: 25px;
  margin-bottom: 15px;
}

.informacionDis {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 30px;
}

.contactoD {
  margin-left: 20px;
}

.contactoD h3 {
  display: flex;
}

.mapa-contenedor {
  width: 40%;
  padding: 20px;
}

.mapa {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
/* */

@media (max-width: 1200px) {
  .contenedorDis {
    width: 80%;
  }
}

@media (max-width: 1024px) {
  .fondo-distribuidores .productos-titulo {
    margin-top: 60px;
  }
}

@media screen and (max-width: 900px) {
  .category_list,
  .products-list {
    width: 100%;
    justify-content: center;
  }
  .category_list {
    margin: auto;
    width: 80%;
    padding-top: 40px;
    flex-direction: row;
    justify-content: space-between;
  }
  .category_list .category_item {
    align-self: flex-start;
    width: 15%;
    font-size: 14px;
  }
  .products-list .product-item {
    margin-left: 4.5%;
  }
  .distribuidores-list {
    margin-top: 40px;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .category_list {
    flex-direction: column;
  }
  .category_list .category_item {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .contenedorDis {
    width: 80%;
    text-align: justify;
    padding: 10px;
  }
  .contactoD a,
  .contactoD p {
    font-size: 17px;
    margin-left: 2px;
  }
  .informacionDis h3 {
    font-size: 17px;
  }
  .informacionDis .contactoD {
    margin-left: 0px;
  }
  .informacionDis h1 {
    width: 100%;
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
  }
  .mapa-contenedor {
    width: 100%;
    height: 300px;
    padding: 0px 30px 30px 30px;
  }
  .informacionDis {
    width: 100%;
    display: flex;
    margin: 0px;
    padding: 30px;
  }
  .distribuidores-list .distribuidores-item {
    display: block;
  }
}

@media (max-width: 481px) {
  .contenedorDis {
    width: 80%;
    text-align: justify;
    padding: 10px;
  }
  .distribuidores-list .distribuidores-item a {
    font-size: 15px;
    display: block;
  }
  .distribuidores-list .distribuidores-item p {
    font-size: 15px;
  }
  .informacionDis h3 {
    font-size: 15px;
  }
  .informacionDis .contactoD {
    margin-left: 0px;
  }
  .informacionDis h1 {
    width: 100%;
    font-size: 17px;
    margin-bottom: 10px;
    text-align: center;
  }
  .mapa-contenedor {
    width: 100%;
    height: 200px;
  }
}

@media (max-width: 400px) {
  .contenedorDis {
    width: 80%;
    text-align: justify;
    padding: 10px;
  }
  .distribuidores-list .distribuidores-item a {
    font-size: 13px;
    display: block;
  }
  .distribuidores-list .distribuidores-item p {
    font-size: 13px;
  }
  .informacionDis h3 {
    font-size: 13px;
  }
  .informacionDis .contactoD {
    margin-left: 0px;
  }
  .informacionDis h1 {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
  }
}
