@import "../../resources/styles/colors.scss";
@import "../../resources/styles/mediaQueries.scss";

.contactanos_container {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  gap: 30px;

  .form_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 22px;
    width: 100%;
    max-width: 350px;
    margin: auto;

    button {
      background-color: $primary;
      padding: 10px 35px;
      border-radius: 20px;
      p {
        color: white;
        font-weight: bold;
        margin: 0;
      }
    }
    button:hover {
      background-color: $secondary;
      p {
        color: white;
      }
    }
  }

  .contactenos-mapa {
    width: 100%;
    height: 500px;
  }
}

@media screen and (min-width: $tablet) {
  .contactanos_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
