* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-contactenos {
  width: 100%;
  height: 100%;
  margin-top: 85px;
  background-color: white;
  padding-bottom: 80px;
}

.container-contactenos-titulo {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container-informacion-personal {
  width: 21%;
  text-align: end;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 3px;
  border-bottom: 2.5px solid;
  transition: border 0.4s ease-out;
  line-height: 1;
  border-color: #008556;
  font-family: calibri;
  font-size: 25px;
}

.container-informacion-personal-espacio {
  width: 79%;
  background-color: white;
  padding-top: 50px;
}

.container-contactenos-global {
  max-width: 1400px;
  margin: auto;
  width: 100%;
}

.container-contactenos-contenido {
  display: flex;
  width: 100%;
}

.container-contactenos-formulario {
  width: 50%;
  height: 100%;
  background-color: white;
}

.container--contactenos-formulario {
  width: 100%;
  margin: auto;
}

.container-contactenos-mapa {
  width: 50%;
  height: 100%;
  background-color: white;
}

.container--contactenos-mapa {
  width: 80%;
  margin: auto;
}

.contactenos-mapa {
  width: 100%;
  height: 400px;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.formulario-input {
  border-radius: 15px;
  width: 80%;
  margin: auto;
  height: 40px;
  background-color: #ebebeb;
  color: #3a3635;
  border: 0px;
  padding: 15px;
  margin-bottom: 20px;
  font-family: calibri;
  border-style: none;
}

.formulario-input-enviar {
  margin: 30px auto 0px auto;
  border-radius: 15px;
  width: 50%;
  cursor: pointer;
  height: 40px;
  background-color: #0c3795;
  color: white;
  border: 0px;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 12px;
  font-family: calibri;
  border-style: none;
  transition: 0.5s all ease;
}

.formulario-input-enviar:hover {
  transform: scale(1.1);
}

.formulario-input-mensaje {
  border-radius: 15px;
  width: 100%;
  height: 40px;
  background-color: #ebebeb;
  color: #3a3635;
  border: 0px;
  padding: 15px;
  margin-bottom: 20px;
  font-family: calibri;
  border-style: none;
  max-width: 100%;
  min-width: 100%;
  min-height: 80px;
  max-height: 200px;
  height: 40px;
}

.formulario-input-file {
  border-radius: 15px;
  width: 80%;
  margin: auto;
  background-color: #ebebeb;
  color: #3a3635;
  border: 0px;
  padding: 10px;
  padding-left: 15%;
  margin-bottom: 20px;
  font-family: calibri;
  border-style: none;
  height: 40px;
}

.container-adjuntar {
  width: 28%;
  text-align: end;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 3px;
  border-bottom: 2.5px solid;
  transition: border 0.4s ease-out;
  line-height: 1;
  border-color: #008556;
  font-family: calibri;
  font-size: 25px;
}

.container-adjuntar-espacio {
  width: 72%;
  background-color: white;
  padding-top: 50px;
}

.container-contactenos-direccion {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 25px;
  font-family: calibri;
}

@media (max-width: 1024px) {
  .container-contactenos {
    margin-top: 60px;
  }
}

@media (max-width: 769px) {
  .container-informacion-personal {
    width: 40%;
    font-size: 25px;
  }
  .container-informacion-personal-espacio {
    width: 40%;
  }
  .container-contactenos-contenido {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
  .container-contactenos-formulario {
    width: 100%;
    height: 100%;
  }
  .container--contactenos-formulario {
    width: 100%;
    height: 500px;
    margin: auto;
  }
  .container-contactenos-mapa {
    margin-top: 300px;
    width: 100%;
    height: 100%;
  }
}

.productos-titulo {
  padding: 20px 0px;
  background-color: #ebebeb;
  margin: -4px;
  display: flex;
  width: 100%;
  justify-content: center;
}

.productos-titulo h1 {
  font-family: calibri;
  text-decoration: none;
  color: #3a3635;
  transition: 0.1s;
  font-size: 30px;
  font-weight: 300;
  padding-bottom: 3px;
  border-bottom: 3px solid;
  transition: border 0.4s ease-out;
  line-height: 1;
  border-color: #008556;
  margin: 0;
}

@media (max-width: 420px) {
  .contactenos-mapa {
    width: 100%;
    height: 200px;
  }
}
