@import "../../resources/styles/colors.scss";

.atom_modal_container {
  .ant-modal-content {
    .ant-modal-body {
      margin-top: 140px;
    }
  }
}

.ant-modal-content {
  padding: 0 !important;
}

.ant-modal-header {
  display: none;
}
.ant-modal-close {
  display: none;
}

.modal__boton {
  position: absolute;
  cursor: pointer;
  border: 0;
  top: 5%;
  right: 2%;
  font-size: 35px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 35px;
  text-align: center;
  background-color: #008556;
  transition: 0.5s all ease;
  color: #ebebeb;
  font-family: calibri;
}

.container-titulo {
  justify-content: center;
  width: 100%;
  height: 20%;
  display: flex;
  background-color: #ebebeb;
  border-radius: 10px 10px 0px 0px;
  align-items: center;
}

.container-titulo p {
  font-size: 30px;
}

.titulo {
  text-align: center;
  padding: 35px;
}

.titulo p {
  transition: 0.1s;
  padding-bottom: 3px;
  border-bottom: 3px solid;
  transition: border 0.4s ease-out;
  line-height: 1;
  border-color: #008556;
  font-family: calibri;
  color: #3a3635;
}

.modal__boton:hover {
  transform: scale(1.1);
}

.modal_inicio {
  position: absolute;
  top: 5%;
  left: 2%;
}

.modal_separacion {
  margin: 0px 5px;
}

.modal_inicio_links {
  display: flex;
  cursor: pointer;
}

.modal_inicio_links a,
.modal_inicio_links p {
  text-decoration: none;
  font-family: calibri;
  color: #3a3635;
}

.modal_container {
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 40px;

  .swiper-slide {
    background-color: transparent;
  }

  .img_content {
    height: 300px;
    img {
      width: 280px;
      height: 100%;
      background-color: #eee;
      border-radius: 15px;
      padding: 25px;
    }
  }

  .text_content {
    display: flex;
    flex-direction: column;

    .contenido {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}

.modal_aux_bottom_buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20px;
  padding-bottom: 30px;
  button,
  a {
    background-color: $primary;
    color: white;
    padding: 8px 18px;
    border: 0;
    border-radius: 21px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    transition: transform 1s;
    &:hover {
      transform: scale(1.15); // Aumentar el tamaño al 110% al hacer hover
    }
  }
}

@media screen and (max-width: 600px) {
  .ant-modal {
  }
  .ant-modal-body {
    height: 100%;
    max-height: 100%;
  }
  .ant-modal-content {
    height: 80%;
  }

  .modal_container {
    flex-direction: column;
    gap: 30px;
  }
  .swiper {
  }

  .swiper-slide {
    width: 100%;
    height: 100%;
    .img_content {
      width: 100%;
      height: 100%;
    }
  }

  .modal__boton {
    top: 20px;
  }
  .modal_inicio {
    display: none;
  }
}
