// Importa cualquier otro archivo SCSS necesario

.main {
  padding-top: 60px;
}

.productos-titulo {
  padding: 20px 0px;
  background-color: #ebebeb;
  margin: -4px;
  display: flex;
  width: 100%;
  justify-content: center;

  h1 {
    font-family: calibri;
    text-decoration: none;
    color: #3a3635;
    transition: 0.1s;
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 3px;
    border-bottom: 3px solid;
    transition: border 0.4s ease-out;
    line-height: 1;
    border-color: #008556;
    margin: 0;
  }
}

.animals_container {
  width: 80%;
  margin: auto;
  padding-top: 80px;
}

.container-informacion-personal-index {
  width: 20.5%;
  text-align: end;
  background-color: white;
  padding-bottom: 3px;
  border-bottom: 2.5px solid;
  transition: border 0.4s ease-out;
  line-height: 1;
  border-color: #008556;
  font-family: calibri;
  font-size: 25px;
  color: black;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  width: 100%;
  z-index: 2;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  p {
    position: relative;
    margin: 0;
    padding: 1rem;
  }
}

.code {
  font-weight: 700;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
}

.card {
  padding: 1rem 1.2rem;
  transition: background 200ms, border 200ms;

  span {
    display: inline-block;
    transition: transform 200ms;
  }

  h2 {
    font-weight: 600;
    margin-bottom: 0.7rem;
  }

  p {
    margin: 0;
    opacity: 0.6;
    font-size: 0.9rem;
    line-height: 1.5;
    max-width: 30ch;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;

  &::before {
    border-radius: 50%;
    width: 480px;
    height: 360px;
    margin-left: -400px;
  }

  &::after {
    width: 240px;
    height: 180px;
    z-index: -1;
  }

  &::before,
  &::after {
    content: "";
    left: 50%;
    position: absolute;
    filter: blur(45px);
    transform: translateZ(0);
  }
}

// Resto de tus estilos SCSS...

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 600px) {
  .animals_container {
    width: 92%;
  }
  .container-informacion-personal-index {
    margin-right: auto;
    width: 80%;
    text-align: right;
  }
}
