.atom_input {
  margin-bottom: 15px;
  .label {
    font-weight: bold;
    margin: 0;
    font-size: 13px;
    margin-bottom: 10px;
  }
  .input_area {
    outline: 1px solid black;
    border-radius: 4px;
    min-width: 250px;
    width: 100%;
    margin-bottom: 5px;
    position: relative;

    .btn_toggle_password {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    .formulario-input {
      padding: 8px;
      font-size: 16px;
      border: 0;
      outline: 0;
      width: 100%;
    }
  }

  .input-error {
    color: red;
    font-size: 14px;
  }
}
