@import "../../resources/styles/colors.scss";
@import "../../resources/styles/mediaQueries.scss";

.header {
  background-color: white;
  height: 85px;
  width: 100%;
  top: 0;
  position: fixed;
  left: 0;
  font-family: calibri;
  z-index: 2;
}

#productos {
  font-size: 22px;
}

#distribuidores {
  font-size: 22px;
}

.nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3);
}

.menu-link {
  text-decoration: none;
  color: #3a3635;
  transition: 0.1s;
  padding-top: 15px;
  padding-bottom: 1px;
  border-bottom: 3px solid transparent;
  transition: border 0.4s ease-out;
  line-height: 1;
}

.menu-link_active {
  background-color: #008556;
  transition: 0.5s;
}

.menu-link:hover {
  transition: 0.1s;
  border-color: #008556;
}

.menu-link_active {
  background-color: #008556;
  transition: 0.5s;
}

.logo {
  padding: 0px;
  width: 230px;
  height: 100%;
  margin-left: 20px;
}

.menu {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-evenly;
}

.menu-item {
  font-size: 22px;
  margin: 0 15px;
  width: max-content;
}

.menu-item-sobre {
  margin: 20px 3px;
  display: none;
}

.menu-link-sobre {
  padding: 8px 15px;
  border-radius: 3px;
  font-size: 17px;
  text-decoration: none;
  color: #008556;
  border-radius: 3px;
  transition: 0.5s;
}

.dropdown {
  position: relative;
  display: inline-block;
  transition: 1s;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 24px;
  left: -16%;
  list-style: none;
  padding: 30px 0px 20px 0px;
  transition: all 0.5s ease;
}

.drop {
  background-color: white;
  padding: 10px 0px 20px 0px;
  border-radius: 0px 0px 15px 15px;
}

.menu-link-none {
  background-color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: 1s;
}

.redes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: 20px;
  gap: 15px;
  text-align: end;
  a {
    svg {
      color: $primary;
    }
    svg:hover {
      color: $secondary;
      transform: scale(1.1);
      transition: 0.4s 0s ease-in-out;
    }
  }
}

.toggle {
  color: black;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  display: none;
}

@media screen and (max-width: 1024px) {
  .header {
    height: 60px;
  }

  .nav {
    justify-content: space-between;
  }

  .logo {
    width: 150px;
    margin-left: 10px;
  }

  .menu {
    width: 50%;
  }

  .menu-link {
    padding: 8px 15px;
    border-radius: 3px;
    font-size: 17px;
  }

  .menu-item {
    font-size: 20px;
    margin: 0px;
    width: max-content;
  }

  .toggle {
    display: none;
    cursor: pointer;
  }

  .menu_visible {
    left: 0;
  }

  .redes {
    display: block;
    margin-right: 10px;
    width: 150px;
    text-align: end;
  }

  .redes-item {
    font-size: 25px;
    margin: 0px 0px;
    color: #008556;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 20px;
    padding: 20px 0px 10px 0px;
  }
}

@media screen and (max-width: $tablet) {
  .dropdown:hover .dropdown-content {
    display: none;
    transition: 1s;
  }

  .dropdown-content {
    display: none;
  }

  .header {
    height: 60px;
  }

  .nav {
    justify-content: space-between;
  }

  .logo {
    width: 180px;
    margin-left: 10px;
  }

  .menu {
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: rgba(235, 235, 235, 0.98);
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
    justify-content: start;
  }

  .menu-item {
    margin: 20px 10px;
  }

  .menu-link {
    padding: 8px 12px;
    border-radius: 3px;
    color: black;
  }

  .menu-link-sobre {
    color: black;
    border-bottom: 3px solid transparent;
  }

  .menu-item-sobre {
    margin: 20px 3px;
    display: block;
    border-bottom: 3px solid transparent;
  }

  .menu-link-sobre {
    padding: 8px 15px;
    font-size: 17px;
  }

  .menu-link-sobre:hover {
    border-bottom: 3px solid #008556;
    transition: 0s;
  }

  .toggle {
    display: block;
    cursor: pointer;
  }

  .menu_visible {
    left: 0;
  }

  .redes {
    display: none;
  }
}
