@import "../../resources/styles/colors.scss";
@import "../../resources/styles/mediaQueries.scss";

@font-face {
  font-family: "primetime";
  src: url("../../app/primetime.ttf");
  font-weight: 400;
  font-style: normal;
}

footer {
  background-color: $primary;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  .linea_blanca {
    width: 90%;
    margin: auto;
    height: 1px;
    background-color: white;
    margin-bottom: 30px;
  }
}
.footer_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;

  p,
  svg {
    color: white;
  }

  p.section_header {
    font-size: 20px;
    font-weight: bold;
  }

  .footer_area {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .footer-pharmek {
    font-family: "primetime";
    font-size: 40px;
  }

  .buttons_socials {
    display: flex;
    align-items: center;
    gap: 10px;
    a {
      background-color: white;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        color: $primary;
        font-size: 20px;
      }
    }
    a:hover {
      background-color: $secondary;
      svg {
        color: white;
      }
    }
  }

  .nosotros {
    a {
      p {
      }
    }
    a:hover {
      p {
        color: $secondary;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .footer_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: $mobile) {
  .footer_container {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
