@import '../../resources/styles/colors.scss';

.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  .login_area {
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    width: 92%;
    max-width: 400px;
    margin-top: 120px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;

    .submit {
      background-color: $primary;
      color: white;
      width: 100%;
      border-radius: 25px;
      padding: 10px;
      font-weight: bold;
      font-size: 18px;
      margin: 15px auto;
      p {
        margin: 0;
      }
    }

    .submit:hover {
      background-color: $secondary;
    }

    .btn_forget {
      width: 100%;
      p {
        margin: 0;
        text-align: center;
        text-decoration: underline;
      }
    }

    .btn_forget:hover {
      color: $secondary;
    }
  }
}
